@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

body, html {
  font-family: Open Sans, Arial;
  text-align: center;
  background-color: #9B8F89;
}



button {
  width: 40px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  color: #c14545;
  font-size: 1.1em;

  border: 1px solid #4B4657;
  border-top: 2px solid #7c748f;

  border-radius: 15%;
  border-top-left-radius: 80% 10px;
  border-top-right-radius: 80% 10px;
  border-bottom-left-radius: 100% 10px;
  border-bottom-right-radius: 100% 10px;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
}


